@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700&family=Baloo+Da+2:wght@700&family=Bree+Serif&family=Ubuntu&display=swap');
 
 body{
    background-color: antiquewhite;
 }

 *{
    margin: 0;
    padding: 0;
 }

 nav{
    font-family: 'Ubuntu', sans-serif;
 }

 nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 56px;
    background-color: black;
    color: white;
   
 }

 nav ul li{
    padding: 0 12px;
 }

 .brand img{
    width: 48px;
    padding: 0 8px;
 }

 .brand{
    display: flex;
    align-items: center;
    font-weight: bolder;

    font-size: 1.3rem;
 }

 .bottom{
    position: sticky;
    height: 81px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
   
 }

 .icons{
   margin:15px ;
 }
.icons i{
   cursor: pointer;
}

 .container{
   min-height: 67vh;
   background-color: black;
   color: white;
   font-family: 'Ubuntu', sans-serif;
   margin: 23px auto;
   width: 80%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpeg');
   background-size: cover;
 
 }
 #myprogressbar{
   width: 80vw; 
 }

 .songitem{
   height: 50px;
   display: flex;
   background-color: #fff;
   color: black;
   width: 48%;
   margin: 12px 0;
justify-content: space-between;
align-items: center;
 border-radius:26px ;
 }

 .songs{
   margin-top: 45px;
 }

 .songitem img{
   width: 50px;
   margin: 0 23px;
   /* border-radius: 30px; */
 }
 .timestamp{
   margin: 0 23px;
 }

 .songinfo{
   position: absolute;
   left: 9vw;
 }

 .songinfo img{
   opacity: 0;
   transition: opacity 0.5s ease-in;
 }


